body { 
	padding-top: 70px; 
}
.navbar-brand img{
	height: 40px;
	margin-right:10px;
   	margin-top:-8px;
   	
}
.bop-navbar {
	padding:0px 30px;
    height:55px;
    display:table-cell;
}
.bop-navbar .navbar-nav > li > a:hover {
	color: #1fc200;
}
.kop-game{
	max-height: 150px;
	vertical-align: middle;
}
.table-center td, .table-center th{
	text-align: center;
}
.team-table{
	table-layout: fixed;
}
.team-table td{
	text-overflow: ellipsis;
    overflow: hidden;
}
#loginbox{
	margin:auto;
	width:300px;
}
#login-logo{
	margin-bottom: 45px;
}
#loginform{
	padding-top: 15px;
	background-color:#eaeaea;
	border:1px solid #C5C5C5;
	box-shadow: 0px 0px 2px 1px #D2D2D2 ;
	-moz-box-shadow: 0px 0px 2px 1px #D2D2D2 ;
	-webkit-box-shadow: 0px 0px 2px 1px #D2D2D2 ;
	/*border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;*/
}
#loginbtn{
	width:298px;
	height:35px;
	cursor:pointer;
	text-indent:0;
	border:none;
	border-top:1px solid #C5C5C5;
	display:inline-block;
	color:#5C5C5C;
	font-size:12px;
	background-color:#eaeaea;
	text-shadow:1px 1px 0px #ffffff;
}
#loginbtn:hover {
	background-color:#FAFAFA;
}
#bottombox{
	margin:auto;
	margin-top:15px;
	width:216px;
	height:25px;
	padding-top:20px;
	/*background-color:#DDDDDD;
	border:1px solid #C5C5C5;
	box-shadow: 0px 0px 2px 1px #D2D2D2 ;
	-moz-box-shadow: 0px 0px 2px 1px #D2D2D2 ;
	-webkit-box-shadow: 0px 0px 2px 1px #D2D2D2 ;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;*/
}
#bottombox a{
	padding-left:10px;
}