body, html {
    height: 100%;
}
body{
	color:#333333;
	margin: 0;
	padding:0;
	background-color:#FAFAFA;
}
#content{
	width:100%;
	height:100%;
	min-width:900px;
}
#footer{
	margin-bottom:0px;
	height:30px;
	padding:30px;
	width:500px;
	margin:auto;
}
a{
	color:#333333;
	text-decoration:none;
}
a:link {
	color:#333333;
	text-decoration:none;
}
a:visited {
	color:#333333;
	text-decoration:none;
}
a:hover {
	color:#333333;
	text-decoration:none;
}
a:active {
	color:#333333;
	text-decoration:none;
}
#background {
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
}
.login-logo{
	padding-top:80px;
	margin:auto;
	width:300px;
}
.register-logo{
	padding-top:80px;
	margin:auto;
	width:300px;
}
#error-box{
	color: #b94a48;
	background-color: #f2dede;
	border:2px solid #eed3d7;
	margin-bottom: 10px;
	margin-top: -10px;
	padding:5px;
	text-align: center;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
}
#loginbox{
	opacity:0.9;
	width:300px;
	padding-top:45px;
	margin:auto;
}
#loginform{
	background-color:#DDDDDD;
	border:1px solid #C5C5C5;
	box-shadow: 0px 0px 2px 1px #D2D2D2 ;
	-moz-box-shadow: 0px 0px 2px 1px #D2D2D2 ;
	-webkit-box-shadow: 0px 0px 2px 1px #D2D2D2 ;
	/*border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;*/
	padding:20px;
}
#loginform b{
	width:50px;
	font-size:20px;
	margin-left:100px;
}
#loginform input{
	width:170px;
	height:20px;
	margin-bottom:4px;
}
#loginform #checkbox{
	width:12px;
	height:20px;
	margin-bottom:0px;
	margin-left:80px;
	cursor:pointer;
}
#loginform #checkboxlabel{
	float:right;
	width:115px;
	height:20px;
	margin-right:40px;
	margin-bottom:4px;
	font-size:14px;
	text-align:left;
	cursor:pointer;
}
#loginform label{
	width:70px;
	float:left;
	padding-right:5px;
	margin-top:4px;
	text-align:right;
}
#loginbtn{
	float:left;
	margin-left:-20px;
	width:298px;
	height:35px;
	cursor:pointer;
	text-indent:0;
	border:none;
	border-top:1px solid #C5C5C5;
	display:inline-block;
	color:#5C5C5C;
	font-size:12px;
	background-color:#DDDDDD;
	text-shadow:1px 1px 0px #ffffff;
}
#loginbtn:hover {
	background-color:#FAFAFA;
}
#loginbtn:active {
	position:relative;
	top:1px;
}
#registerbox{
	opacity:0.9;
	width:350px;
	padding-top:25px;
	margin:auto;
}
#registerform{
	background-color:#DDDDDD;
	border:1px solid #C5C5C5;
	box-shadow: 0px 0px 2px 1px #D2D2D2 ;
	-moz-box-shadow: 0px 0px 2px 1px #D2D2D2 ;
	-webkit-box-shadow: 0px 0px 2px 1px #D2D2D2 ;
	/*border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;*/
	padding:20px;
}
#registerform input{
	width:190px;
	height:20px;
	margin-bottom:4px;
}
#registerform select{
	width:100px;
	font-size:20px;
	margin-bottom:4px;
}
#registerform label{
	width:100px;
	float:left;
	padding-right:5px;
	margin-top:4px;
	text-align:right;
}
#registerbtn{
	float:left;
	margin-left:-20px;
	margin-top:15px;
	width:348px;
	height:40px;
	cursor:pointer;
	text-indent:0;
	border:none;
	border-top:1px solid #C5C5C5;
	display:inline-block;
	color:#5C5C5C;
	font-size:12px;
	background-color:#DDDDDD;
	text-shadow:1px 1px 0px #ffffff;
}
#registerbtn:hover {
	background-color:#FAFAFA;
}
#registerbtn:active {
	position:relative;
	top:1px;
}
#reg-link:hover{
	text-decoration:underline;
}
#register-top{
	width:348px;
	margin-left:-20px;
	margin-top:10px;
	margin-bottom:15px;
	border-bottom:1px solid #C5C5C5;
}
#bottombox{
	margin:auto;
	margin-top:15px;
	width:216px;
	height:25px;
	padding-top:5px;
	/*background-color:#DDDDDD;
	border:1px solid #C5C5C5;
	box-shadow: 0px 0px 2px 1px #D2D2D2 ;
	-moz-box-shadow: 0px 0px 2px 1px #D2D2D2 ;
	-webkit-box-shadow: 0px 0px 2px 1px #D2D2D2 ;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;*/
}
#bottomboxlogin{
	margin:auto;
	margin-top:15px;
	width:216px;
	height:25px;
	padding-top:20px;
	/*background-color:#DDDDDD;
	border:1px solid #C5C5C5;
	box-shadow: 0px 0px 2px 1px #D2D2D2 ;
	-moz-box-shadow: 0px 0px 2px 1px #D2D2D2 ;
	-webkit-box-shadow: 0px 0px 2px 1px #D2D2D2 ;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;*/
}
#bottomboxlogin a{
	padding-left:10px;
}
#bottombox a{
	padding-left:10px;
}
.sidebar{
	position:fixed;
	overflow:hidden;
	height:100%;
	width:175px;
	margin:0;
	padding:0;
	min-height:340px;
	z-index:20;
	border-right: 1px solid #C5C5C5;
	box-shadow: 2px 0px 4px -1px #D2D2D2 ;
	-moz-box-shadow: 2px 0px 4px -1px #D2D2D2 ;
	-webkit-box-shadow: 2px 0px 4px -1px #D2D2D2 ;
	background-color:#DDDDDD;
}
.sidebar-logo{
	position:absolute;
	padding-left:35px;
	width:175px;
	cursor:pointer;
}
.sidebar ul{
	margin-top:75px;
	width:175px;
	display:block;
	list-style-type:none;
	padding:0;
	border-bottom:1px solid #C5C5C5;
}
.sidebar li{
	border-top:1px solid #C5C5C5;
}
.sidebar a:link,a:visited{
	display:block;
	color:#5C5C5C;
	text-align:left;
	padding:7px 0px 7px 20px;
}
.sidebar a:hover{
	background-color:#FAFAFA;
	/*box-shadow: inset -4px 0 0 -1px #1fc200;
	-webkit-box-shadow: inset -4px 0 0 -1px #1fc200;
	-moz-box-shadow: inset -4px 0 0 -1px #1fc200;*/
}
#sidebar-bottom{
	position:absolute;
	width:175px;
	margin:0;
	padding:0;
	bottom:0;
}
#index #index{
	background-color:#FAFAFA;
	box-shadow: inset -4px 0 0 -1px #1fc200;
	-webkit-box-shadow: inset -4px 0 0 -1px #1fc200;
	-moz-box-shadow: inset -4px 0 0 -1px #1fc200;
}
#index #index a:hover{
	box-shadow: inset -4px 0 0 -1px #1fc200;
	-webkit-box-shadow: inset -4px 0 0 -1px #1fc200;
	-moz-box-shadow: inset -4px 0 0 -1px #1fc200;
}
#inventory #inventory{
	background-color:#FAFAFA;
	box-shadow: inset -4px 0 0 -1px #1fc200;
	-webkit-box-shadow: inset -4px 0 0 -1px #1fc200;
	-moz-box-shadow: inset -4px 0 0 -1px #1fc200;
}
#inventory #inventory a:hover{
	box-shadow: inset -4px 0 0 -1px #1fc200;
	-webkit-box-shadow: inset -4px 0 0 -1px #1fc200;
	-moz-box-shadow: inset -4px 0 0 -1px #1fc200;
}
#team #team{
	background-color:#FAFAFA;
	box-shadow: inset -4px 0 0 -1px #1fc200;
	-webkit-box-shadow: inset -4px 0 0 -1px #1fc200;
	-moz-box-shadow: inset -4px 0 0 -1px #1fc200;
}
#team #team a:hover{
	box-shadow: inset -4px 0 0 -1px #1fc200;
	-webkit-box-shadow: inset -4px 0 0 -1px #1fc200;
	-moz-box-shadow: inset -4px 0 0 -1px #1fc200;
}
#kop #kop{
	background-color:#FAFAFA;
	box-shadow: inset -4px 0 0 -1px #1fc200;
	-webkit-box-shadow: inset -4px 0 0 -1px #1fc200;
	-moz-box-shadow: inset -4px 0 0 -1px #1fc200;
}
#kop #kop a:hover{
	box-shadow: inset -4px 0 0 -1px #1fc200;
	-webkit-box-shadow: inset -4px 0 0 -1px #1fc200;
	-moz-box-shadow: inset -4px 0 0 -1px #1fc200;
}
#teamlist #teamlist{
	background-color:#FAFAFA;
	box-shadow: inset -4px 0 0 -1px #1fc200;
	-webkit-box-shadow: inset -4px 0 0 -1px #1fc200;
	-moz-box-shadow: inset -4px 0 0 -1px #1fc200;
}
#teamlist #teamlist a:hover{
	box-shadow: inset -4px 0 0 -1px #1fc200;
	-webkit-box-shadow: inset -4px 0 0 -1px #1fc200;
	-moz-box-shadow: inset -4px 0 0 -1px #1fc200;
}
#eventlist #eventlist{
	background-color:#FAFAFA;
	box-shadow: inset -4px 0 0 -1px #1fc200;
	-webkit-box-shadow: inset -4px 0 0 -1px #1fc200;
	-moz-box-shadow: inset -4px 0 0 -1px #1fc200;
}
#eventlist #eventlist a:hover{
	box-shadow: inset -4px 0 0 -1px #1fc200;
	-webkit-box-shadow: inset -4px 0 0 -1px #1fc200;
	-moz-box-shadow: inset -4px 0 0 -1px #1fc200;
}
#settings #settings{
	background-color:#FAFAFA;
	box-shadow: inset -4px 0 0 -1px #1fc200;
	-webkit-box-shadow: inset -4px 0 0 -1px #1fc200;
	-moz-box-shadow: inset -4px 0 0 -1px #1fc200;
}
#settings #settings a:hover{
	box-shadow: inset -4px 0 0 -1px #1fc200;
	-webkit-box-shadow: inset -4px 0 0 -1px #1fc200;
	-moz-box-shadow: inset -4px 0 0 -1px #1fc200;
}
#listevents a:link, a:visited{
	text-decoration:none;
	color:#333333;
}
#display{
	margin-left:175px;
	padding:10px;
	min-height:340px;
	background-color:#FAFAFA;
}
.koptable{
    margin-left:30px;
    border:none;
	border-collapse:collapse;
}
.koptable tbody{
}
.koptable th{
	height:5px;
}
.koptable tr{
}
.koptable tr.even{
	background-color:#DDDDDD;
}
.koptable tr.odd{
	background-color:#F2F2F2;
}
.koptable td{
	height:50px;
	border-right:1px solid #C5C5C5;
}
.koptable a{
	color:#333333;
	text-decoration:none;
}
.koptable a:link {
	color:#333333;
	text-decoration:underline;
}
.koptable a:visited {
	color:#333333;
	text-decoration:underline;
}

#banner_container {
	margin:auto;
	width:750px;
	height:200px;
	padding:2px;
	background-color:#FFFFFF;
	border:2px solid #FFFFFF;
	border-radius:1px;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.9);
}
#banner_img {
	height:200px;
	background-color:#DDDDDD;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.9);
}
#teamlistview{
	margin:auto;
	width:800px;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
}
#team_top {
	padding-bottom:10px;
}
#team_bottom {
	margin:auto;
	width:800px;
	padding-top:25px;
}
#team_roster {
	float:left;
	width:400px;
}
#team_roster td{
	border-radius:2px;
	padding:2px 5px 2px 5px;
}
#team_roster .user{
	color:#FAFAFA;
	padding-left:20px;
	padding-right:5px;
	border-left: 1px solid #C5C5C5;
	background-color:#1fc200;
}