Options +FollowSymLinks -MultiViews
RewriteEngine on
RewriteBase /

RewriteCond %{THE_REQUEST} ^.*/index\.php 
RewriteRule ^(.*)index.php$ /$1 [R=301,L] 

ErrorDocument 404 https://binofparts.localhost


RewriteRule ^kitofparts?$ kop.php$1
RewriteRule ^kop?$ kop.php$1
RewriteRule ^kop/([0-9]+)?$ kop.php?y=$1
RewriteRule ^parts?$ parts.php$1
RewriteRule ^part?$ parts.php$1
RewriteRule ^myteam?$ myteam.php$1
RewriteRule ^teams?$ teamlist.php$1
RewriteRule ^events?$ eventlist.php$1
RewriteRule ^inventory?$ inventory.php$1
RewriteRule ^team/([0-9]+)?$ team.php?n=$1
RewriteRule ^event/([A-Za-z0-9_]+)?$ event.php?n=$1